html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
img {
	max-width: 100%;
	height: auto;
}
body {
	background-color: #ffffff;
}

a, p, i, b, ol, ul {
	color: black;
	font-family: 'Roboto', sans-serif;
}

h1, h5 {
	color: black;
	font-family: 'Roboto Slab', serif;
	letter-spacing: .5px;
}

/* div {
	border: pink 1px solid;
} */

h2 {
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	letter-spacing: .5px;
}

h3 {
	font-family: 'Roboto Slab', serif;
	font-weight: 500;
}

h4 {
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
}

h6 {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	color: grey;
	letter-spacing: 2px;
}

.navbar-brand, .nav-link {
	font-family: 'Roboto' !important;
}

table, th, td {
  border: 2px solid white;
	padding: 15px;
	font-family: 'Roboto', sans-serif;
}

#pureple-cell {
	background-color: #404040;
}

#pureple-row {
	border: 4px solid black;
}

.marker {
	text-align: center;
}

th {
	background-color: black;
	color: white;
	font-weight: 700;
}

tr:nth-child(odd) {
	background-color: #BFBFBF;
}

table {
	color: black;
	margin: 0px 20px 40px;
}

.app {
	background-color: #808080;
	color: white;
	font-weight: 600;
}

.footer {
	text-align: center;
}

.container {
	padding: 25px 0 25px 0;
}

.persona-description {
	padding-left: 30px;
}

.main-gallery {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.description {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-column-gap: 50px;
	grid-row-gap: 25px;
}

.project-main {
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-column-gap: 50px;
	grid-row-gap: 25px;
}

.persona {
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.link {
	text-decoration: underline;
	text-decoration-color: grey;
}

.link:hover {
	text-decoration-color: white;
	color: grey;
}

#footer-text {
	letter-spacing: normal;
	text-transform: capitalize;
	color: black;
	font-weight: 500;
}

.project-description {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.portfolio-preview {
	position: relative;
}

.portfolio-title {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: #FFFFFF;

	/* position the text centrally */
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	/* typographic styles */
	text-decoration: none;
	color: #000000;
	text-decoration-color: #000000;

	/* hide the title by default */
	opacity: 0;
	transition: opacity .4s;
}

.gd-title {
	opacity: 1;
	background: none;
	transition: .4s;
}

.portfolio-preview:hover .gd-title {
	background: #FFFFFF;
}

.portfolio-preview:hover .portfolio-title {
	opacity: 0.95;
	text-decoration: none;
	color: #000000;
	text-decoration-color: #000000;
}

.card {
	background-color: #FFFFFF;
}

#resume-button {
	padding: 10px 0;
	background-color: #E8E8E8;
	letter-spacing: 2px;
}

#resume-button:hover {
	text-decoration: underline;
	color: black;
}

.header-specs {
	color: black;
	font-weight: 700;
	letter-spacing: 1.5px;
}

.footer-nav {
	margin: 30px 0;
}

.project-title {
	font-weight: 400;
}

.project-subtitle {
	color: grey;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

#navBar {
	background-color: white;
	padding: 0 0 0 0 !important;
}

.pureple-comparison {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 50px;
	grid-row-gap: 35px;
	place-items: center start;
}

.center-caption {
	display: grid;
	place-items: center start;
	grid-column-gap: 25px;
}

.pain-points {
	display: grid;
	grid-template-columns: 1fr 7fr;
	padding: 0 0 0 0 !important;
	margin-bottom: 25px;
}

.goals {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	text-align: center;
	padding: 0 0 0 0 !important;
	grid-column-gap: 20px;
}

.goals h5 {
	font-size: 1rem;
}

.persona .item {
	display: grid;
	place-items: center start;
}

.gd-sample {
	margin: 30px 0 20px 0;
	max-height: 67vh;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.para-link {
	text-decoration: underline;
}

.para-link:hover {
	color: grey;
}

.gd-blurb {
	margin-bottom: 200px;
}

.ce-examples {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 25px;
}

.two-thirds {
	display: grid;
	grid-template-columns: 2fr 3fr;
	grid-column-gap: 100px;
	place-items: center start;
}

.two-thirds img {
	max-height: 75vh;

}

/* .two-thirds .item {
	border: 1px blue solid;
} */
