html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
img {
	max-width: 100%;
	height: auto;
}
body {
	background-color: black;
}
/*
div {
	border: pink 1px solid;
} */

a, p, h1, h2, h3, h4, h5, h6, i, b, ol, ul {
	color: white;
	font-family: 'Nunito', sans-serif;
}

.footer {
	text-align: center;
}

.container {
	padding: 30px 0 30px 0;
}

.main-gallery {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.description {
	display: grid;
	grid-template-columns: 1fr 2fr;
}

.link {
	text-decoration: underline;
	text-decoration-color: grey;
}

.link:hover {
	text-decoration-color: white;
	color: white;
}

.project-description {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.graphic-design-gallery {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 60px;
	padding: 0 60px 0 60px;
}

.graphic-design-gallery img {
	object-fit: cover;
	height: 50vh;
	width: 50vw;
	opacity: 80%;
}

.graphic-design-gallery img:hover {
	opacity: 100;
}

.portfolio-preview {
	position: relative;
}

.portfolio-title {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: #000000;

	/* position the text centrally */
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	/* typographic styles */
	text-decoration: none;
	color: #FFFFFF;
	text-decoration-color: #FFFFFF;

	/* hide the title by default */
	opacity: 0;
	transition: opacity .5s;
}

.gd-title {
	opacity: 1;
	background: none;
	transition: .5s;
}

.portfolio-preview:hover .gd-title {
	background: #000000;
}

.portfolio-preview:hover .portfolio-title {
	opacity: 0.8;
	text-decoration: none;
	color: #FFFFFF;
	text-decoration-color: #FFFFFF;
}

.card {
	background-color: #000000;
}

#resume-button {
	padding: 10px 0;
}

#resume-button:hover {
	color: white;
}


.footer-nav {
	margin: 30px 0;
}
