@import "compass/reset";
@import "compass/css3";

/* Create two equal columns that floats next to each other */
.column {
	float: left;
	width: 50%;
}

.column img {
    width: 100%;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 800px) {
    .column {
        width: 100%;
   }
}

.container-fluid {
	font-family: Helvetica;
}

body {
	text-align: center;
	font: 1em/1.5 Georgia, serif;
	color: #333;
}

a {
	text-decoration: none;
}

img {
	width: 40%;

}

h1 {
	font-family: Bitter, Georgia, serif;
	font-size: 2.25em;
	padding: 8em 3em;
}

.header {
	padding: 10em 0 14em;

	h1 {
		font-style: italic;
	}
}


