@import "compass/reset";
@import "compass/css3";

/* Add a black background color to the top navigation */
.topnav {
	background-color: white;
	overflow: hidden;
	height: 8vh;
	position: fixed;
	width: 100%;
	z-index: 1;

	img {
	max-width: 65%;
	max-height: 65%;
	width: auto;
	padding: 12px;
	float: left;
	position: relative;
	}

	.logo:hover {
	opacity: 0.1;
	transition: .5s ease;
	}

	/* Style the links inside the navigation bar */
	.links a {
		float: right;
		color: black;
		text-align: center;
		padding: 20px;
		text-decoration: none;
		font-size: 17px;
		font-family: 'Montserrat', sans-serif;
		position: relative;
	    transition: .5s ease;
	    overflow: auto;
	}
}



/* Change the color of links on hover */
.topnav a:hover {
	opacity: 0.1;
}

.bottomnav {
	height: 10vh;	
}

.topnav .logo {

}



.row {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

/* Create two equal columns that floats next to each other */
.column {
	float: left;
	width: 49%;
	margin: 4px;
	position: relative;
}

.gallery img {
    width: 100%;
    opacity: 1;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    z-index: -2;
}

.middle {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
}

.text {
	background-color: black;
	color: white;
	font-size: 16px;
	padding: 16px 32px;
}

.gallery:hover .img {
	opacity: 0.3;
}

.gallery:hover .middle {
	opacity: 1;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 800px) {
    .column {
        width: 100%;
   }
}

.container-fluid {
	width: 100%;
	height: 90vh;
	margin: 0px;
	background-image: url(background.jpg);
	background-size: cover;	
}

body {
	text-align: center;
	font: 1em/1.5 Georgia, serif;
	color: #333;
}

img {
	width: 40%;
}

.container-fluid h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 3em;
	padding-top: 40vh;
	color: white;
}

.container-fluid h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.75em;
	padding: 0px 10em;
	color: white;
}

.header {
	padding: 8em 3em;
}

.dropdown {
	float: left;
	overflow: hidden;
}

.arrow {
	height: 10vh;
	width: auto;
}
