/* line 5, ../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Add a black background color to the top navigation */
/* line 5, ../sass/style.scss */
.topnav {
  background-color: white;
  overflow: hidden;
  height: 8vh;
  position: fixed;
  width: 100%;
  z-index: 1;
  /* Style the links inside the navigation bar */
}
/* line 13, ../sass/style.scss */
.topnav img {
  max-width: 65%;
  max-height: 65%;
  width: auto;
  padding: 12px;
  float: left;
  position: relative;
}
/* line 22, ../sass/style.scss */
.topnav .logo:hover {
  opacity: 0.1;
  transition: .5s ease;
}
/* line 28, ../sass/style.scss */
.topnav .links a {
  float: right;
  color: black;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  transition: .5s ease;
  overflow: auto;
}

/* Change the color of links on hover */
/* line 45, ../sass/style.scss */
.topnav a:hover {
  opacity: 0.1;
}

/* line 49, ../sass/style.scss */
.bottomnav {
  height: 10vh;
}

/* line 55, ../sass/style.scss */
.row {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

/* Create two equal columns that floats next to each other */
/* line 62, ../sass/style.scss */
.column {
  float: left;
  width: 49%;
  margin: 4px;
  position: relative;
}

/* line 69, ../sass/style.scss */
.gallery img {
  width: 100%;
  opacity: 1;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  z-index: -2;
}

/* line 78, ../sass/style.scss */
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
}

/* line 84, ../sass/style.scss */
.text {
  background-color: black;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

/* line 92, ../sass/style.scss */
.gallery:hover .img {
  opacity: 0.3;
}

/* line 96, ../sass/style.scss */
.gallery:hover .middle {
  opacity: 1;
}

/* Clear floats after the columns */
/* line 101, ../sass/style.scss */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 800px) {
  /* line 109, ../sass/style.scss */
  .column {
    width: 80%;
    padding: 0 4.5em;
    position: relative;
  }
}
/* line 116, ../sass/style.scss */
.container-fluid {
  width: 100%;
  height: 90vh;
  margin: 0px;
  background-image: url(background.jpg);
  background-size: cover;
}

/* line 124, ../sass/style.scss */
body {
  text-align: center;
  font: 1em/1.5 Georgia, serif;
}

/* line 129, ../sass/style.scss */
img {
  width: 40%;
}

/* line 133, ../sass/style.scss */
.container-fluid h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3vmax;
  padding-top: 40vh;
  color: white;
}

/* line 140, ../sass/style.scss */
.container-fluid h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5vmax;
  padding: 0px 10em;
  color: white;
}

/* line 147, ../sass/style.scss */
.header {
  padding: 8em 3em;
}

/* line 151, ../sass/style.scss */
.arrow {
  height: 10vh;
  width: auto;
}
