/* line 5, ../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Add a black background color to the top navigation */
/* line 5, ../sass/style.scss */
.topnav {
  background-color: white;
  overflow: hidden;
  height: 8vh;
  position: fixed;
  width: 100%;
}

/* Style the links inside the navigation bar */
/* line 14, ../sass/style.scss */
.topnav a {
  float: right;
  color: black;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
  font-family: Open Sans;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* Change the color of links on hover */
/* line 28, ../sass/style.scss */
.topnav a:hover {
  color: #ddd;
}

/* line 32, ../sass/style.scss */
.bottomnav {
  height: 10vh;
}

/* line 36, ../sass/style.scss */
.logo {
  height: 6vh;
  width: auto;
  margin-left: 15px;
  float: left;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* line 46, ../sass/style.scss */
.row {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

/* Create two equal columns that floats next to each other */
/* line 53, ../sass/style.scss */
.column {
  float: left;
  width: 49%;
  margin: 4px;
}

/* line 59, ../sass/style.scss */
.column img {
  width: 100%;
}

/* Clear floats after the columns */
/* line 65, ../sass/style.scss */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 800px) {
  /* line 73, ../sass/style.scss */
  .column {
    width: 100%;
  }
}
/* line 78, ../sass/style.scss */
.container-fluid {
  width: 100%;
  height: 90vh;
  margin: 0px;
  background-image: url(background.jpg);
  background-size: cover;
}

/* line 86, ../sass/style.scss */
.container-fluid h3 {
  font-family: Open Sans;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0.5em;
  color: purple;
}

/* line 94, ../sass/style.scss */
body {
  text-align: center;
  font: 1em/1.5 Georgia, serif;
  color: #333;
}

/* line 100, ../sass/style.scss */
a {
  text-decoration: none;
}

/* line 104, ../sass/style.scss */
img {
  width: 40%;
}

/* line 108, ../sass/style.scss */
h1 {
  font-family: Roboto, Georgia, serif;
  font-size: 2.25em;
  padding: 7em 6em;
  color: white;
}

/* line 115, ../sass/style.scss */
.header {
  padding: 8em 3em;
}

/* line 120, ../sass/style.scss */
.container-fluid h2 {
  font-family: Open Sans;
}

/* line 124, ../sass/style.scss */
.arrow {
  height: 10vh;
  width: auto;
}
